.menu{
    width: 100vw;
    max-width: 100vw;
    display: flex;
    align-items: center;
}

.blur{
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: -1;
}

.middle-container{
    width: 80%;
    max-width: 500px;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.face {
    width: 100%;
    max-height: 33vw;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.face img{
    height: auto;
    width: 100%;
}

.lives {
    display: flex;
    width: 30%;
    gap: min(5%, 10px);
    align-self: self-start;
    margin-top: min(3%,20px);
    margin-left: min(3%,20px);
    margin-right: min(3%,20px);
}

.live{
    position: relative;
    background-color: red;
    height: 40px;
    width: 33%;
    max-width: 40px;
}

.live img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: auto;
    max-width: 100%;
}

.pressed{
    background-color: yellow !important;
}